
<div>
    <h2><span>Clinic</span> {{clinic.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ShortName</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.shortName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Alias</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.alias}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Url</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.url}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Longitude</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.longitude}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Latitude</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.latitude}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>StreetName</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.streetName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>House</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.house}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>WeekdaysOpen</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.weekdaysOpen}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>WeekendOpen</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.weekendOpen}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ShortDescription</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.shortDescription}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>IsDiagnostic</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.isDiagnostic}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>IsClinic</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.isClinic}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>IsDoctor</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.isDoctor}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>PhoneContact</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.phoneContact}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>PhoneAppointmen</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.phoneAppointmen}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>PhoneReplacement</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.phoneReplacement}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LogoPath</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.logoPath}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Logo</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.logo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ScheduleStateOnline</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.scheduleStateOnline}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Email</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.email}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>MinPrice</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.minPrice}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>MaxPrice</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.maxPrice}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>DocdocId</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.docdocId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LastUpdated</span>
                </td>
                <td>
                    <span class="form-control-static">{{clinic.lastUpdated}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>city</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="city.detail({id:clinic.city.id})">{{clinic.city.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>street</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="street.detail({id:clinic.street.id})">{{clinic.street.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>area</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="area.detail({id:clinic.area.id})">{{clinic.area.id}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>diagnostic</span>
                </td>
                <td>
                    <span ng-repeat="diagnostic in clinic.diagnostics">
                        <a class="form-control-static" ui-sref="diagnostic.detail({id: {{diagnostic.id}}})">{{diagnostic.id}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>metro</span>
                </td>
                <td>
                    <span ng-repeat="metro in clinic.metros">
                        <a class="form-control-static" ui-sref="metro.detail({id: {{metro.id}}})">{{metro.id}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>speciality</span>
                </td>
                <td>
                    <span ng-repeat="speciality in clinic.specialitys">
                        <a class="form-control-static" ui-sref="speciality.detail({id: {{speciality.id}}})">{{speciality.id}}</a>{{$last ? '' : ', '}}
                    <span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
